/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#readButton{
    -fx-background-color: #5e892c;
    -fx-text-fill: white;
}

#readButton:hover {
    -fx-background-color: #87C540;
}

#readButton:selected {
    -fx-background-color: #c33535;
}

#openFilesButton{
    -fx-background-color: black;
    -fx-text-fill: white;
}

#openFilesButton:hover {
    -fx-background-color: #606060;
}

#openFilesButton:click {
    -fx-background-color: black;
    -fx-text-fill: #efefef;
}

#nextButton{
    -fx-background-color: black;
    -fx-text-fill: white;
}

#nextButton:hover {
    -fx-background-color: #606060;
}

#nextButton:click {
    -fx-background-color: black;
    -fx-text-fill: #efefef;
}